In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('chicago.csv')

In [ ]:
i = 0
while True:   
    data = input('\nDo you want to view the Raw Data? Enter yes or no.\n').lower()
    if data == 'yes':
        j = i+5
        print (df.iloc[i:j])
        i =i+5
    else:
        print('ok')
        break

In [ ]:
i = 5
j = i+5
df.iloc[i:j]

In [ ]:


while True:
    city = input('Enter the city:chicago,washington,newyork')
    if city not in  ['chicago', 'washington' , 'newyork' ]:
        print('wrong city')
    else:
        print('you selected : ' + city)
        break

In [ ]:
while True:
        day = input('Select the day : all or sun, mon ,tue,wed,thu,fri,sat,sun')
        print(/n)
        if day in ['all','sun','mon','tue','wed','thu','fri','sat','sun']:
            print ('You selected {} day'.format(day))
            break
        else:
            print('Select again')

In [33]:
df.count()

Unnamed: 0       300000
Start Time       300000
End Time         300000
Trip Duration    300000
Start Station    300000
End Station      300000
User Type        300000
Gender           238948
Birth Year       238981
dtype: int64

In [53]:
df['combination'] ='From ' + df['Start Station'] +' Till '+ df['End Station']
df['combination'].mode()

0    From Lake Shore Dr & Monroe St Till Streeter D...
dtype: object

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'], errors='raise')

In [30]:
df['End Station'].count()

300000

In [31]:
df['Start Station'].count()

300000

In [26]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    print ('Most commonly used start station is : ' , df['Start Station'].mode()[0])


    # display most commonly used end station
    print ('Most commonly used end station is : ' , df['End Station'].mode()[0])


    # display most frequent combination of start station and end station trip
    df1 = pd.concat([df['Start Station'], df['End Station']])
    print('Most frequent combination station for Start and End Trip : ' , df1.mode()[0])


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)
station_stats(df)

Calculating The Most Popular Stations and Trip...

Most commonly used start station is :  Streeter Dr & Grand Ave
Most commonly used end station is :  Streeter Dr & Grand Ave
Most frequent combination station for Start and End Trip :  Streeter Dr & Grand Ave

This took 0.3008289337158203 seconds.
----------------------------------------

In [26]:
df['hour'] = df['Start Time'].dt.hour
df['month'] = df['Start Time'].dt.month
df['day_of_week'] = df['Start Time'].dt.weekday_name

In [25]:
df['month'].unique()

array([6, 5, 1, 3, 4, 2], dtype=int64)

In [28]:
df['day_of_week'].unique()

array(['Friday', 'Thursday', 'Wednesday', 'Monday', 'Tuesday', 'Saturday',
       'Sunday'], dtype=object)

In [31]:
day = 'friday'
df[df['day_of_week'] == day.title]

Empty DataFrame
Columns: [Unnamed: 0, Start Time, End Time, Trip Duration, Start Station, End Station, User Type, Gender, Birth Year, month, day_of_week]
Index: []

In [ ]:
popular_hour = df['hour'].mode()

In [ ]:
print('Most Frequent Start Hour:',17)

In [ ]:
import pandas as pd

filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

# print value counts for each user type
user_types = df['User Type'].value_counts()

print(user_types)

In [4]:
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [6]:
df['User Type'].unique()

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)

In [7]:
df['User Type'].value_counts()

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [34]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df
df = load_data('chicago', 'march', 'friday')

Empty DataFrame
Columns: [Unnamed: 0, Start Time, End Time, Trip Duration, Start Station, End Station, User Type, Gender, Birth Year, month, day_of_week]
Index: []

In [35]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [36]:
CITY_DATA['chicago']

'chicago.csv'

In [49]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington'}

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name    
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]
    return df
df = load_data('chicago', 'march', 'friday')

In [50]:
df.dtypes

Unnamed: 0                int64
Start Time       datetime64[ns]
End Time                 object
Trip Duration             int64
Start Station            object
End Station              object
User Type                object
Gender                   object
Birth Year              float64
month                     int64
day_of_week              object
dtype: object

In [45]:
df = df[df['month'] == month]

In [48]:
df[df['day_of_week'] == day.title()]

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0,5,Friday
53,959864,2017-05-26 07:31:20,2017-05-26 07:38:57,457,Clinton St & Washington Blvd,State St & Kinzie St,Subscriber,Female,1967.0,5,Friday
66,739835,2017-05-05 17:49:23,2017-05-05 18:00:34,671,Clinton St & Lake St,Ogden Ave & Race Ave,Subscriber,Male,1991.0,5,Friday
77,959137,2017-05-26 06:04:08,2017-05-26 06:08:21,253,Financial Pl & Congress Pkwy,Canal St & Monroe St (*),Subscriber,Male,1963.0,5,Friday
115,803235,2017-05-12 16:52:32,2017-05-12 17:05:50,798,Franklin St & Lake St,Wells St & Evergreen Ave,Subscriber,Male,1991.0,5,Friday
131,962850,2017-05-26 11:29:54,2017-05-26 11:44:52,898,Orleans St & Merchandise Mart Plaza,Bissell St & Armitage Ave,Subscriber,Male,1993.0,5,Friday
144,794580,2017-05-12 05:51:22,2017-05-12 05:58:36,434,Ashland Ave & Wrightwood Ave,Sheffield Ave & Fullerton Ave,Subscriber,Male,1990.0,5,Friday
207,899010,2017-05-19 18:55:02,2017-05-19 19:11:22,980,Rush St & Superior St,Canal St & Adams St,Subscriber,Female,1962.0,5,Friday
217,898201,2017-05-19 17:15:17,2017-05-19 17:28:50,813,McClurg Ct & Erie St,Milwaukee Ave & Grand Ave,Subscriber,Male,1970.0,5,Friday
238,959056,2017-05-26 05:32:41,2017-05-26 05:37:00,259,Bissell St & Armitage Ave,Marshfield Ave & Cortland St,Subscriber,Male,1993.0,5,Friday
250,797762,2017-05-12 10:08:56,2017-05-12 10:24:42,946,Clinton St & Tilden St,Columbus Dr & Randolph St,Subscriber,Male,1962.0,5,Friday
263,897368,2017-05-19 14:21:00,2017-05-19 14:23:58,178,LaSalle St & Washington St,Canal St & Madison St,Subscriber,Male,1968.0,5,Friday
309,804329,2017-05-12 17:28:52,2017-05-12 17:37:13,501,Wabash Ave & Roosevelt Rd,Michigan Ave & Jackson Blvd,Subscriber,Female,1991.0,5,Friday
320,741417,2017-05-05 21:05:31,2017-05-05 21:10:29,298,Lincoln Ave & Leavitt St,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,1985.0,5,Friday
399,800308,2017-05-12 14:05:36,2017-05-12 14:12:19,403,Wacker Dr & Washington St,State St & Kinzie St,Subscriber,Male,1968.0,5,Friday
413,960967,2017-05-26 08:28:34,2017-05-26 08:31:55,201,Fairbanks Ct & Grand Ave,Wabash Ave & Grand Ave,Subscriber,Female,1991.0,5,Friday
444,959513,2017-05-26 07:01:58,2017-05-26 07:11:08,550,Lincoln Ave & Belle Plaine Ave,Pine Grove Ave & Irving Park Rd,Subscriber,Male,1985.0,5,Friday
464,797376,2017-05-12 09:23:09,2017-05-12 09:25:04,115,Racine Ave & Belmont Ave,Wilton Ave & Belmont Ave,Subscriber,Male,1988.0,5,Friday
466,807632,2017-05-12 23:43:21,2017-05-12 23:59:18,957,Racine Ave & Randolph St,Halsted St & Willow St,Subscriber,Male,1989.0,5,Friday
561,806357,2017-05-12 19:24:28,2017-05-12 19:30:28,360,Ravenswood Ave & Lawrence Ave,Clark St & Winnemac Ave,Customer,NaN,NaN,5,Friday
600,965458,2017-05-26 14:43:28,2017-05-26 14:47:52,264,Ashland Ave & Lake St,Ashland Ave & Grand Ave,Subscriber,Male,1979.0,5,Friday
628,734908,2017-05-05 08:34:59,2017-05-05 08:50:01,902,Canal St & Madison St,Cityfront Plaza Dr & Pioneer Ct,Subscriber,Male,1987.0,5,Friday
743,794763,2017-05-12 06:29:53,2017-05-12 06:40:51,658,Morgan St & Lake St,Fairbanks Ct & Grand Ave,Subscriber,Male,1989.0,5,Friday
766,741483,2017-05-05 21:26:30,2017-05-05 21:33:57,447,Wabash Ave & Grand Ave,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0,5,Friday
778,959141,2017-05-26 06:04:57,2017-05-26 06:22:10,1033,Lake Park Ave & 56th St,MLK Jr Dr & Oakwood Blvd,Subscriber,Male,1994.0,5,Friday
874,736703,2017-05-05 13:18:36,2017-05-05 13:40:02,1286,Franklin St & Monroe St,Streeter Dr & Grand Ave,Customer,NaN,NaN,5,Friday
923,795046,2017-05-12 07:05:21,2017-05-12 07:09:56,275,Southport Ave & Wrightwood Ave,Sheffield Ave & Fullerton Ave,Subscriber,Male,1990.0,5,Friday
932,799976,2017-05-12 13:39:30,2017-05-12 13:46:22,412,Cityfront Plaza Dr & Pioneer Ct,McClurg Ct & Illinois St,Customer,NaN,NaN,5,Friday
984,795474,2017-05-12 07:35:56,2017-05-12 08:04:18,1702,Kedzie Ave & Milwaukee Ave,Kosciuszko Park,Subscriber,Female,1957.0,5,Friday
1021,736426,2017-05-05 12:34:14,2017-05-05 12:42:53,519,LaSalle St & Illinois St,Clark St & Elm St,Subscriber,Male,1979.0,5,Friday
...,...,...,...,...,...,...,...,...,...,...,...
298857,736758,2017-05-05 13:28:21,2017-05-05 14:00:45,1944,Bissell St & Armitage Ave,Morgan St & Lake St,Subscriber,Male,1991.0,5,Friday
298859,898946,2017-05-19 18:42:56,2017-05-19 18:46:07,191,Rush St & Cedar St,State St & Pearson St,Subscriber,Male,1990.0,5,Friday
298905,959906,2017-05-26 07:34:07,2017-05-26 07:47:42,815,Clybourn Ave & Division St,LaSalle St & Washington St,Subscriber,Male,1988.0,5,Friday
298971,961630,2017-05-26 09:09:55,2017-05-26 09:24:23,868,Halsted St & Roscoe St,Sheridan Rd & Montrose Ave,Subscriber,Male,1950.0,5,Friday
299079,803994,2017-05-12 17:16:43,2017-05-12 17:36:28,1185,Streeter Dr & Grand Ave,Streeter Dr & Grand Ave,Customer,NaN,NaN,5,Friday
299105,801636,2017-05-12 15:39:47,2017-05-12 16:30:17,3030,Streeter Dr & Grand Ave,Michigan Ave & Oak St,Customer,NaN,NaN,5,Friday
299147,963964,2017-05-26 12:58:42,2017-05-26 13:11:33,771,Mies van der Rohe Way & Chicago Ave,Clinton St & Lake St,Subscriber,Male,1971.0,5,Friday
299173,806521,2017-05-12 19:39:04,2017-05-12 19:41:31,147,Clark St & Berwyn Ave,Broadway & Berwyn Ave,Subscriber,Male,1981.0,5,Friday
299178,964792,2017-05-26 14:01:33,2017-05-26 14:24:06,1353,Fort Dearborn Dr & 31st St,Shore Dr & 55th St,Customer,NaN,NaN,5,Friday
299185,734742,2017-05-05 08:24:28,2017-05-05 08:32:50,502,Canal St & Adams St,Michigan Ave & Washington St,Subscriber,Female,1984.0,5,Friday
299214,896888,2017-05-19 12:47:53,2017-05-19 13:04:02,969,Halsted St & Roscoe St,Theater on the Lake,Subscriber,Male,1990.0,5,Friday
299297,897349,2017-05-19 14:17:26,2017-05-19 14:35:58,1112,Pulaski Rd & Lake St,Artesian Ave & Hubbard St,Subscriber,Male,1974.0,5,Friday
299311,802904,2017-05-12 16:40:31,2017-05-12 16:49:31,540,Ravenswood Ave & Balmoral Ave,Damen Ave & Leland Ave,Subscriber,Female,1986.0,5,Friday
299432,896686,2017-05-19 12:06:03,2017-05-19 12:22:04,961,Clark St & Wrightwood Ave,Sheffield Ave & Waveland Ave,Subscriber,Male,1975.0,5,Friday
299437,738818,2017-05-05 16:59:45,2017-05-05 17:30:58,1873,Halsted St & Diversey Pkwy,Winchester Ave & Elston Ave,Customer,NaN,NaN,5,Friday
299458,967113,2017-05-26 18:03:35,2017-05-26 18:12:25,530,Clark St & Elm St,Kingsbury St & Erie St,Subscriber,Male,1988.0,5,Friday
299474,734474,2017-05-05 08:07:35,2017-05-05 08:43:40,2165,Albany Ave & Bloomingdale Ave,Franklin St & Monroe St,Subscriber,Male,1977.0,5,Friday
299581,963045,2017-05-26 11:46:52,2017-05-26 13:19:34,5562,Clark St & Lincoln Ave,Lake Shore Dr & North Blvd,Customer,NaN,NaN,5,Friday
299617,737229,2017-05-05 14:45:20,2017-05-05 14:52:58,458,Kingsbury St & Kinzie St,Clinton St & Jackson Blvd,Subscriber,Male,1963.0,5,Friday
299659,897520,2017-05-19 15:15:00,2017-05-19 15:23:26,506,Clark St & Lake St,McClurg Ct & Erie St,Subscriber,Male,1983.0,5,Friday
299661,735242,2017-05-05 08:58:40,2017-05-05 09:07:02,502,Clinton St & Washington Blvd,Michigan Ave & Lake St,Subscriber,Male,1984.0,5,Friday
299763,739910,2017-05-05 17:53:57,2017-05-05 18:01:23,446,Aberdeen St & Monroe St,Ada St & Washington Blvd,Subscriber,Female,1958.0,5,Friday
299768,738615,2017-05-05 16:50:17,2017-05-05 16:57:49,452,Clinton St & Madison St,Michigan Ave & Washington St,Subscriber,Female,1968.0,5,Friday
299770,802481,2017-05-12 16:22:32,2017-05-12 16:33:14,642,Oakley Ave & Roscoe St,Lincoln Ave & Leavitt St,Subscriber,Female,1992.0,5,Friday
299779,895008,2017-05-19 07:46:40,2017-05-19 07:52:54,374,Ashland Ave & Wrightwood Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1978.0,5,Friday
299900,962603,2017-05-26 11:05:29,2017-05-26 11:10:29,300,Wabash Ave & Roosevelt Rd,State St & Harrison St,Subscriber,Male,1962.0,5,Friday
299931,960238,2017-05-26 07:53:35,2017-05-26 08:00:54,439,Columbus Dr & Randolph St,Franklin St & Quincy St,Subscriber,Male,1980.0,5,Friday
299949,735407,2017-05-05 09:16:21,2017-05-05 09:22:53,392,Orleans St & Ohio St,Franklin St & Monroe St,Subscriber,Male,1990.0,5,Friday
299951,796790,2017-05-12 08:43:48,2017-05-12 08:53:28,580,Kingsbury St & Kinzie St,Canal St & Adams St,Subscriber,Female,1982.0,5,Friday
299962,799738,2017-05-12 13:19:53,2017-05-12 13:24:19,266,LaSalle St & Washington St,Canal St & Madison St,Subscriber,Male,1990.0,5,Friday

In [56]:
df['day_of_week'].mode()

0    Friday
dtype: object

In [57]:
import pandas as pd

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday_name

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df
df = load_data('chicago', 'march', 'friday')